@font-face {
    font-family: 'Lufga';
    src: url('/public/fonts/lufga/LufgaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('/public/fonts/lufga/LufgaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  /* Add additional font-face declarations for other styles/weights as needed */